.content .content-body .match .match-container{
    width: 100%;
}

.header .container .control .control_logout, .header .container .control_login .control_logout, .header .container .control_logout .control_logout {
    display: flex;
    justify-content: flex-end;
}

a .lk-button {
    margin-bottom: 25px;
}

#modalContent .header,
#modalContent .nav,
#modalContent .footer{
    display: none;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: normal;
}

.tournament-container .reg-container .button-registration a{
    color: #FFFFFF;
}

.games .game img {
    height: 240px;
    object-fit: cover;
}

.match-container {
    width: 100%;
}

.photo-button {
    width: 100%;
    outline: none;
    background-color: #5600ff;
    height: 50px;
    outline: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.control-label {
    text-align: left;
    width: 100%;
}

.content .aside .rating .rating-list .icon-background{
    overflow: hidden;
}

.tournament-gamers .match-tournament {
    justify-content: center;
}

#w2 {
    padding-top: 30px !important;
}

.open {
    z-index: 100;
}

.further-information {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.further-information h1{
    padding-bottom: 30px;
}

.further-information p{
    padding-bottom: 15px;
}

.further-information input{
    background: #fff;
    border: 2px solid #ededed;
    border-radius: 7px;
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    outline: 0;
}

.ftr-info {
    background-color: #5600ff;
    height: 50px;
    width: 300px;
    outline: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.chat-iframe{
    width: 100%;
}