.logo img {
    width: 80%;
}

.text-center {
    background-color: #323B45;
}

.input-group-addon  {
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 30px;
 }